<h1 class="ml-5">貨到通知後台</h1>

<br />
<br />

<div class="col-11 ml-5 mb-5">
  <table class="table">
    <thead class="thead" style="background-color: #d2f0f5; color: #0085a5;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">信箱</th>
        <th scope="col">產品名稱</th>
        <th scope="col">庫存數量</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#ifCond deliveryNotices.length 0}}
      <h3 class="mt-2 mb-5 d-flex justify-content-center" style="color: red;">目前尚無客人申請</h3>
      {{else}}
      {{#each deliveryNotices}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.email}}</td>
        <td>{{this.Product.name}}</td>
        <td>{{this.Product.count}}</td>
        <td>
          <form action="/admin/deliveryNotice/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
      {{/ifCond}}
    </tbody>
  </table>
</div>