<div class="col-12 productmodel_orders px-5 ">


    {{!-- 產品總攬 --}}
    <div class="card my-3">
        <p class="ml-2 mt-3 text-primary"> 訂單</p>
        <hr>
        {{!-- 訂單分頁 --}}
        <div class="card-header order_nav">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a href="" class="nav-link active" role="tab">全部</a></li>
                <li class="nav-item"><a href="" class="nav-link active" role="tab">訂單處理中</a></li>
                <li class="nav-item"><a href="" class="nav-link active" role="tab">未付款</a></li>
                <li class="nav-item"><a href="" class="nav-link active" role="tab">備貨中</a></li>
            </ul>

        </div>
        {{!-- 訂單搜尋列 --}}
        <div class="filiterBar input-group p-3">
            <div class="input-group-prepend">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown">搜尋關鍵字</button>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">搜尋關鍵字</a>
                    <a href="#" class="dropdown-item">搜尋電話號碼</a>
                    <a href="#" class="dropdown-item">搜尋多筆訂單</a>
                </div>
            </div>
            <input type="text" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-sm btn-sm btn-outline-secondary"><i class="fas fa-search"></i></button>
            </div>
        </div>
        {{!-- 訂單清單 --}}
        <div class="ordersTable my-3 card-body">
            {{!-- 產品清單 --}}
            <div class="orders_table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">訂單號碼</th>
                            <th scope="col">訂單日期</th>
                            <th scope="col">訂單狀態</th>
                            <th scope="col">付款狀態</th>
                            <th scope="col">送貨狀態</th>
                            <th scope="col">訂購人</th>
                            <th scope="col">合計</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><input type="checkbox" name="" id=""></th>
                            <td><a href="#">123456</a></td>
                            <td>2019-08-01 2:10pm</td>
                            <td>
                                <h5><span class="badge badge-warning">處理中</span></h5>
                            </td>
                            <td>
                                <h5><span class="badge badge-warning">處理中</span></h5>
                            </td>
                            <td>
                                <h5><span class="badge badge-warning">處理中</span></h5>
                            </td>
                            <td>王曉明(azc@gmail.com)</td>
                            <td>NT$250</td>
                        </tr>
                        {{#each orders}}
                        <tr>
                            <th scope="row"><input type="checkbox" name="" id=""></th>
                            <td><a href="/admin/productmodel/order_mange/{{this.id}}">{{this.id}}</a></td>
                            <td>{{this.orderDate}}</td>
                            <td>
                                {{#ifCond this.orderStatus '排程中' }}
                                <h5><span class="badge badge-secondary">{{this.orderStatus}}</span></h5>
                                {{/ifCond}}
                                {{#ifCond this.orderStatus '處理中' }}
                                <h5><span class="badge badge-warning">{{this.orderStatus}}</span></h5>
                                {{/ifCond}}
                                {{#ifCond this.orderStatus '已完成' }}
                                <h5><span class="badge badge-success">{{this.orderStatus}}</span></h5>
                                {{/ifCond}}
                            </td>
                            <td>
                                {{#ifCond this.paymentStatus '未付款'}}
                                <h5><span class="badge badge-secondary">{{this.paymentStatus}}</span></h5>
                                {{/ifCond}}

                                {{#ifCond this.paymentStatus '已付款'}}
                                <h5><span class="badge badge-success">{{this.paymentStatus}}</span></h5>
                                {{/ifCond}}

                                {{#ifCond this.paymentStatus '退款中'}}
                                <h5><span class="badge badge-warning">{{this.paymentStatus}}</span></h5>
                                {{/ifCond}}

                                {{#ifCond this.paymentStatus '已退款'}}
                                <h5><span class="badge badge-secondary">{{this.paymentStatus}}</span></h5>
                                {{/ifCond}}

                            </td>
                            <td>
                                {{#ifCond this.shipmentStatus '備貨中'}}
                                <h5><span class="badge badge-secondary">{{this.shipmentStatus}}</span></h5>
                                {{/ifCond}}
                                {{#ifCond this.shipmentStatus '發貨中'}}
                                <h5><span class="badge badge-secondary">{{this.shipmentStatus}}</span></h5>
                                {{/ifCond}}
                                {{#ifCond this.shipmentStatus '已發貨'}}
                                <h5><span class="badge badge-primary">{{this.shipmentStatus}}</span></h5>
                                {{/ifCond}}
                                {{#ifCond this.shipmentStatus '已到達'}}
                                <h5><span class="badge badge-success">{{this.shipmentStatus}}</span></h5>
                                {{/ifCond}}
                                {{#ifCond this.shipmentStatus '已取貨'}}
                                <h5><span class="badge badge-success">{{this.shipmentStatus}}</span></h5>
                                {{/ifCond}}
                                {{#ifCond this.shipmentStatus '已退貨'}}
                                <h5><span class="badge badge-warning">{{this.shipmentStatus}}</span></h5>
                                {{/ifCond}}
                                {{#ifCond this.shipmentStatus '退貨中'}}
                                <h5><span class="badge badge-warning">{{this.shipmentStatus}}</span></h5>
                                {{/ifCond}}
                            </td>
                            <td>{{this.User.name}}({{this.User.email}})</td>
                            <td>NT$250</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{!-- 分頁按鈕 --}}
    <div class="page  ">
        <nav aria-label="Page navigation example">
            <ul class="pagination text-center">

                <li class="page-item"><a class="page-link" href="/admin/productmodel/order_mange?page={{lastPage}}">
                        <<</a> </li> {{#each totalPage}} {{#ifCond this ../page}} <li class="page-item  active"><a
                                class="page-link" href="#">{{this}}</a></li>
                {{else}}
                <li class="page-item"><a class="page-link" href="#">{{this}}</a></li>
                {{/ifCond}}
                {{/each}}

                <li class="page-item"><a class="page-link"
                        href="/admin/productmodel/order_mange?page={{nextPage}}">>></a></li>

            </ul>
        </nav>
    </div>

</div>