<div class="container py-5">
  <div class="card w-100">
    <div class="card-header">
      <h3>您的訂單編號： NO.{{order.id}} (超商取貨)</h3>
    </div>
    <div class="card-body">
      {{#each order.items}}
      <h5 class="mb-2">{{this.name}} * {{this.Order_item.quantity}}</h5>
      {{/each}}
    </div>
    <div class="card-footer mt-5">
      <h4>總價 NT $ {{order.amount}} </h4>
    </div>
  </div>

  <form name='pickup' action='{{pickupInfo.PayGateWay}}' method="POST">
    <input class="pickup" type="hidden" name="MerchantID" value="{{pickupInfo.MerchantID}}">
    <input class="pickup" type="hidden" name="MerchantTradeNo" value="{{pickupInfo.MerchantTradeNo}}">
    <input class="pickup" type="hidden" name="LogisticsType" value="{{pickupInfo.LogisticsType}}">
    <input class="pickup" type="hidden" name="LogisticsSubType" value="{{pickupInfo.LogisticsSubType}}">
    <input class="pickup" type="hidden" name="IsCollection" value="{{pickupInfo.IsCollection}}">
    <input class="pickup" type="hidden" name="ServerReplyURL" value="{{pickupInfo.ServerReplyURL}}">
    <button type="submit" class="btn btn-primary mt-2">前往選擇門市</button>
  </form>
</div>