<div class="row ml-5 mt-5">
  <div class="col-2">
    <div class="nav flex-column">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/">首頁</a>
      </div>
      {{#each categories}}
      <div class="list-group">
        {{#ifCond this.id ../categoryId}}
        <a class="list-group-item list-group-item-action active" href="/Category/{{this.id}}"
          style="background-color: #0085a5">{{this.name}}</a>
        {{else}}
        <a class="list-group-item list-group-item-action" href="/Category/{{this.id}}">{{this.name}}</a>
        {{/ifCond}}
      </div>
      {{/each}}
    </div>
  </div>

  <div class="index col-10 mb-5">
    <img src="{{category.image}}" style="width: 1000px; height: 500px;" alt="image">
  </div>
</div>

<section id="pagination">
  <div>&nbsp;</div>
</section>

<div class="row ml-5 mt-5">
  <div class="col-9 ml-5">
    <h3 style="color:#0085a5">{{category.name}}</h3>
  </div>

  <div class="col-2">
    <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{#if sort}}
      {{sort}}
      {{else}}
      商品排序
      {{/if}}
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/Category/{{category.id}}/?key=createdAt&value=desc">上架時間: 由新到舊</a>
      <a class="dropdown-item" href="/Category/{{category.id}}/?key=createdAt&value=asc">上架時間: 由舊到新</a>
      <a class="dropdown-item" href="/Category/{{category.id}}/?key=price&value=desc">價格: 由高至低</a>
      <a class="dropdown-item" href="/Category/{{category.id}}/?key=price&value=asc">價格: 由低至高</a>
    </div>
  </div>
</div>


<div class="row mt-5 mb-5">
  <div class="col-2"></div>

  <div class="col-8">
    <div class="row">
      {{#each products}}
      <div class="col-md-3 mt-2">
        <a href="/product/{{this.id}}" style="text-decoration: none;">
          <div class="card shadow-sm" style="height: 300px;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="320px" height="150px">
            <div class="card-body">
              <h6 class="card-text">
                <p class="productName" style="font-size: 18px;">
                  【{{../category.name}}】{{this.name}}
                </p>
              </h6>
              <div class="row">
                <p class="price" style="color:#0085a5">$ {{this.price}}</p>
                <div style="margin: 0 auto">
                  <p style="color:gray; font-size: 17px;">還剩{{this.count}}件</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>

    {{!-- 分頁 --}}
    <nav aria-label="Page navigation example">
      <ul class="pagination mt-5">
        <li class="page-item">
          <a class="page-link" href="/Category/{{category.id}}?page={{prev}}#pagination" aria-label="Previous"
            style="color: #0085a5;">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        {{#each totalPage}}
        {{#ifCond this ../page}}
        <li class="page-item active"><a class="page-link" href="#"
            style="color:white; background-color: #0085a5">{{this}}</a></li>
        {{else}}
        <li class="page-item"><a class="page-link"
            href="/Category/{{../category.id}}?page={{this}}#pagination">{{this}}</a>
        </li>
        {{/ifCond}}
        {{/each}}
        <li class="page-item">
          <a class="page-link" href="/Category/{{category.id}}?page={{next}}#pagination" aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>