<div class="row col-auto ml-5 mt-5">
  <div class="col-2">
    <div class="nav flex-column">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/">首頁</a>
      </div>
      {{#each categories}}
      <div class="list-group">
        {{#ifCond this.id ../categoryId}}
        <a class="list-group-item list-group-item-action active" href="/Category/{{this.id}}"
          style="background-color: #0085a5">{{this.name}}</a>
        {{else}}
        <a class="list-group-item list-group-item-action" href="/Category/{{this.id}}">{{this.name}}</a>
        {{/ifCond}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="col-1"></div>
  <div class="index col-8 ">
    <img src="{{category.image}}" class="h-75 w-75" alt="image">
  </div>
</div>

<section id="pagination">
  <div>&nbsp;</div>
</section>

<div class="row col-auto ml-5 mt-1">
  <div class="col-2 ml-5">
    <h3 style="color:#0085a5">{{category.name}}</h3>
  </div>

  <div class="col-7">
    {{!-- 排序 --}}
    <div class="search-sort col-12 mt-2">
      <div class="row">
        <span class="mt-2 ml-2 mr-2">排序</span>
        {{!-- 由新到舊 --}}
        {{#ifSort key "createdAt" value "desc"}}
        <a class="search-select btn ml-2" href="/Category/{{category.id}}?key=createdAt&value=desc#pagination">由新到舊</a>
        {{else}}
        <a class="search btn ml-2" href="/Category/{{category.id}}?key=createdAt&value=desc#pagination">由新到舊</a>
        {{/ifSort}}

        {{!-- 由舊到新 --}}
        {{#ifSort key "createdAt" value "asc"}}
        <a class="search-select btn ml-2" href="/Category/{{category.id}}?key=createdAt&value=asc#pagination">由舊到新</a>
        {{else}}
        <a class="search btn ml-2" href="/Category/{{category.id}}?key=createdAt&value=asc#pagination">由舊到新</a>
        {{/ifSort}}

        {{!-- 由高到低 --}}
        {{#ifSort key "price" value "desc"}}
        <a class="search-select btn ml-2" href="/Category/{{category.id}}?key=price&value=desc#pagination">價格: 由高至低</a>
        {{else}}
        <a class="search btn ml-2" href="/Category/{{category.id}}?key=price&value=desc#pagination">價格: 由高至低</a>
        {{/ifSort}}

        {{!-- 由低到高 --}}
        {{#ifSort key "price" value "asc"}}
        <a class="search-select btn ml-2" href="/Category/{{category.id}}?key=price&value=asc#pagination">價格: 由低至高</a>
        {{else}}
        <a class="search btn ml-2" href="/Category/{{category.id}}?key=price&value=asc#pagination">價格: 由低至高</a>
        {{/ifSort}}
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-3"></div>

  <div class="col-7">
    <div class="row">
      {{#each products}}
      <div class="col-md-3 mt-2">
        <a href="/product/{{this.id}}" style="text-decoration: none;">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
            <div class="card-body">
              <h6 class="card-text">
                <p class="productName" style="font-size: 18px;">
                  【{{../category.name}}】{{this.name}}
                </p>
              </h6>
              <div class="row">
                <p class="price" style="color:#0085a5">$ {{this.price}}</p>
                <div style="margin: 0 auto">
                  <p style="color:gray; font-size: 17px;">還剩{{this.count}}件</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>

    {{!-- 分頁 --}}
    <nav aria-label="Page navigation example">
      <ul class="pagination mt-5">
        <li class="page-item">
          <a class="page-link" href="/Category/{{category.id}}?key={{key}}&value={{value}}&page={{prev}}#pagination"
            aria-label="Previous" style="color: #0085a5;">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        {{#each totalPage}}
        {{#ifCond this ../page}}
        <li class="page-item active"><a class="page-link" href="#pagination"
            style="color:white; background-color: #0085a5">{{this}}</a></li>
        {{else}}
        <li class="page-item"><a class="page-link"
            href="/Category/{{../category.id}}?key={{../key}}&value={{../value}}&page={{this}}#pagination">{{this}}</a>
        </li>
        {{/ifCond}}
        {{/each}}
        <li class="page-item">
          <a class="page-link" href="/Category/{{category.id}}?key={{key}}&value={{value}}&page={{next}}#pagination"
            aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>

{{!-- 購物車通知 --}}
<a href="/cart" style="text-decoration: none;">
  <div class="cartNotice" style="display: block; top: 450px; right: 30px; opacity: 1;">
    <table class="cartBG">
      <tbody>
        <tr>
          <td class="cartImage">
            <img src="https://trade.1111.com.tw/ProductImg/92/182392/182392_P_Pr9x5.jpg">
            <br>

            {{#if localcartItem}}
            <small style="color: red;">{{localcartItem}}</small><small> 件商品</small>
            {{else}}
            <small style="color: red;">0</small><small> 件商品</small>
            {{/if}}

            <hr style="border-top: 1px solid gray;">
            <small>結帳去</small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</a>

<script>

  const cartNotice = document.querySelector('.cartNotice')


  window.onscroll = () => {
    if (document.body.scrollTop > 450 && document.body.scrollTop < 900 || document.documentElement.scrollTop > 450 && document.documentElement.scrollTop < 900) {
      cartNotice.style.top = '900px'
    } else if (document.body.scrollTop > 900 && document.body.scrollTop < 1350 || document.documentElement.scrollTop > 900 && document.documentElement.scrollTop < 1350) {
      cartNotice.style.top = '1350px'
    } else if (document.body.scrollTop > 1350 && document.body.scrollTop < 1800 || document.documentElement.scrollTop > 1350 && document.documentElement.scrollTop < 1800) {
      cartNotice.style.top = '1800px'
    } else if (document.body.scrollTop > 1800 && document.body.scrollTop < 2250 || document.documentElement.scrollTop > 1800 && document.documentElement.scrollTop < 2250) {
      cartNotice.style.top = '2250px'
    } else {
      cartNotice.style.top = '450px'
    }
  }

</script>