<div class="container mt-5">

  <h1>COUPON序號: {{coupon.couponCode}}</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">資料</th>
        <th scope="col">詳情</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">店家Id:</th>
        <td>{{coupon.StoreId}}</td>

      </tr>
      <tr>
        <th scope="row">Coupon種類:</th>
        <td>{{coupon.Coupon_type.couponType}}</td>

      </tr>
      <tr>
        <th scope="row">描述:</th>
        <td>{{coupon.description}}</td>

      </tr>
      <tr>
        <th scope="row">有效:</th>
        <td>{{coupon.available}}</td>

      </tr>
      <tr>
        <th scope="row">折扣面額:</th>
        <td>{{coupon.discount}}</td>

      </tr>
    </tbody>
  </table>

</div>