<div class="contasiner">

  <h1>你的COUPON序號: {{coupon.couponCode}}
  </h1>
  <div class="row">
    <div class="col">
      StoreId
    </div>
    <div class="col">
      {{coupon.StoreId}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      CouponTypeId
    </div>
    <div class="col">
      {{coupon.Coupon_type.couponType}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      description
    </div>
    <div class="col">
      {{coupon.description}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      availabe
    </div>
    <div class="col">
      {{coupon.availabe}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      discount
    </div>
    <div class="col">
      {{coupon.discount}}
    </div>
  </div>

</div>