<div class="row col-auto mt-5 ml-5">
  <div class="col-2">
    <a class="navbar-brand" id="logo" href="/">MuseClub</a>
  </div>

  <div class="col-8" style="text-align: center;">

    <h2><strong>都市人的療癒餐酒館</strong>
    </h2>

  </div>
</div>

<div class="row ml-5 mt-5">
  <div class="col-2">
    <div class="nav flex-column">
      <div class="list-group">
        <a class="list-group-item list-group-item-action active" href="/" style="background-color: #0085a5">首頁</a>
      </div>
      {{#each categories}}
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/Category/{{this.id}}">{{this.name}}</a>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="index col-10 mb-3">
    <img src="http://www.hollandi.com/food-bakery/images/bakery-supplies/bread.jpg" width="80%" height="80%"
      alt="image">
  </div>
</div>

<div class="row ml-5">
  <div class="col-2"></div>

  <div class="col-10">
    <div class="row d-flex ml-1 mb-5  ">
      <p class="content">MuseClub是一間實體結合線上的餐酒館，<br>
        在線上，我們提供你，南美莊園原豆、法國酒莊葡萄酒<br>
        與台灣本地小農食材；在實體概念店，我們用我們的食<br>
        材做成精美的料理，並每周舉辦料理工作坊將異國的食<br>
        材，與自己做料理，成為你的生活風格
      </p>
    </div>
    <div class="row">
      {{#each categories}}
      <div class="col-5">
        <div class="mb-4 shadow-sm">

          <a href="/Category/{{this.id}}" style="text-decoration: none;">
            <div class="card shadow-sm">
              <img class="card-img-top mb-3" src="{{this.image}}" alt="Card image cap" width="320px" height="250px">
              <h6 style="text-align: center; color:#0085a5; font-size: 25px;">
                {{this.name}}</h6>
            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>