<div class="container">
  <h1>你的訂單{{order.id}}已成立!!</h1>
  <div class="card mt-4">
    <div class="card-body">
      <h1>商品詳情</h1>
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">
          <div class="row">
            <div class="col">商品</div>
            <div class="col">數量</div>
            <div class="col">小計</div>
          </div>
        </li>
        {{#each order.items}}
        <li class="list-group-item">
          <div class="row">
            <div class="col">{{this.name}}</div>
            <div class="col">{{this.Order_item.quantity}}</div>
            <div class="col">{{this.price}}</div>
          </div>
        </li>
        {{/each}}
        <li class="list-group-item">
          <h1>金額詳情</h1>
          <div class=" bg-light text-dark ">

            <div class=" row">
              <div class="col">商品金額總計:</div>
              <div class="col">{{originAmount}} 元</div>
            </div>
            <div class="row">
              <div class="col">運費:</div>
              <div class="col">0</div>
            </div>
            <div class="row">
              <div class="col">coupon折抵</div>
              <div class="col">{{subtract originAmount order.amount }}元</div>
            </div>
            <div class="row">
              <div class="col">金額總計:</div>
              <div class="col">
                {{order.amount}}元
              </div>
            </div>
          </div>
        </li>
      </ul>
      <hr>
      <h2>運送資訊</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">名字:{{order.name}}</li>
        <li class="list-group-item">地址{{order.address}}</li>
        <li class="list-group-item">phone:{{order.phone}}</li>
      </ul>
      <hr>
      <h2>出貨狀況</h2>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">付款方式:{{#each order.PaymentType}}{{#if @last}}{{this.paymentType}}{{/if}}{{/each}}
        </li>
        <li class="list-group-item">
          付款狀況:{{#each order.PaymentStatus}}{{#if @last}}{{this.paymentStatus}}{{/if}}{{/each}}</li>
        <li class="list-group-item">
          出貨方式:{{#each order.ShipmentType}}{{#if @last}}{{this.shipmentType}}{{/if}}{{/each}}
          {{#each order.ShipmentConvenienceStore}}{{#if @last}}[{{this.branch}}]{{/if}}{{/each}}
          {{#each order.ShipmentConvenienceStore}}{{#if @last}}- {{this.address}}{{/if}}{{/each}}
        </li>
        <li class="list-group-item">
          出貨狀況:{{#each order.ShipmentStatus}}{{#if @last}}{{this.shipmentStatus}}{{/if}}{{/each}}</li>
      </ul>
      </ul>

    </div>

    <div class="row d-flex flex-row-reverse">
      <div class="col">
        <form action="/order/{{order.id}}" method="POST">
          <button type='submit' class='btn btn-danger'>取消訂單</button></form>
      </div>
    </div>

  </div>
</div>