<div class='container'>
  <div class="row bg-primary text-white">
    <h1>訂單明細</h1>
  </div>
  <table class="table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">價格</th>
          <th scope="col">數量</th>
          <th scope="col">總價</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      {{#if cart.items}}
      <tbody>
        {{#each cart.items}}
        <tr>
          <td>
            <div style="display: flow-root;">
              <img src="{{this.image}}" class="card-img" alt="..." style="height: 100px;width: auto;">
              <span>{{this.name}}</span>
            </div>
          </td>
          <td>
            <p>$ {{this.price}}</p>
          </td>
          <td>
            <div style="display: flex;">
              <span style="margin: 0 20px;">
                {{this.Cart_item.quantity}}
              </span>

            </div>
          </td>
          <td>{{this.price}} * {{this.Cart_item.quantity}}</td>
          <td>
          </td>
        </tr>
        {{/each}}
        <tr>
          <td></td>
          <td></td>
          <td style="text-align: right;">
            <h2>Total: </h2>
            {{#if coupon}}
            <h2>coupon折抵:</h2>
            <h2>總共:</h2>
            {{/if}}
          </td>
          <td>
            <h2>{{totalPrice}}</h2>
            {{#if coupon}}
            <h2>-{{coupon.discount}}</h2>
            <h2>{{subtoal}}</h2>
            {{/if}}
          </td>
          <td></td>
        </tr>
        {{else}}
        <div class="alert alert-secondary" role="alert">
          你的購物車還是空的!! </div>
        {{/if}}

      </tbody>
    </table>

    <form action="/order" method="post">
      <h1>運送資訊</h1>
      <div class="form_group row mt-4">
        <label class="col-2 ">名字:</label>
        <div class="col-10">
          <input type="text" class="form-control" name="name" value="{{user.name}}">
        </div>
      </div>
      <div class="form-group row mt-4">
        <label class="col-2 ">地址:</label>
        <div class="col-10">
          <input type="address" class="form-control" name="address" value="{{user.address}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-2">Phone:</label>
        <div class="col-10">
          <input type="tel" class="form-control" name="phone" value="{{user.phone}}">
        </div>
      </div>
      <h1>運送與付款方式</h1>
      <div class="form-group">
        <label class="col-2">運送方式:</label>
        <div class="col-10">
          <!--value為對應的id-->
          <label class="checkbox-inline"><input type="checkbox" name='shipmentType' value="1">宅配</label>
          <label class="checkbox-inline"><input type="checkbox" name='shipmentType' value="2">超商取貨</label>

        </div>
      </div>
      <div class="form-group">
        <label class="col-2">付款方式:</label>
        <div class="col-10">
          <label class="checkbox-inline"><input type="checkbox" name='paymentType' value="1">線上支付</label>
          <label class="checkbox-inline"><input type="checkbox" name='paymentType' value="2">貨到付款</label>
        </div>
      </div>

      <div class="form-group d-flex  justify-content-between mt-4">
        <input type="hidden" name="cartId" value="{{cart.id}}">
        <!--先將cardId儲存起來-->
        <input type="hidden" name="amount" value="{{totalPrice}}">
        <!--先將totalPrice儲存起來-->
        <input type="hidden" name="couponId" value="{{coupon.id}}">
        <input type="hidden" name="shipping_status" value="0">
        <input type="hidden" name="payment_status" value="0">
        <button type="submit" class='btn btn-primary'>結帳</button>

      </div>
    </form>

</div>