<div class="row col-auto ml-5 mt-5">
  <div class="col-2">
    {{!-- 類別連結 --}}
    <div class="nav flex-column">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/">首頁</a>
      </div>
      {{#each categories}}
      <div class="list-group">
        {{#ifCond this.id ../categoryId}}
        <a class="list-group-item list-group-item-action active" href="/Category/{{this.id}}"
          style="background-color: #0085a5">{{this.name}}</a>
        {{else}}
        <a class="list-group-item list-group-item-action" href="/Category/{{this.id}}">{{this.name}}</a>
        {{/ifCond}}
      </div>
      {{/each}}
    </div>
  </div>

  {{!-- 產品圖片 --}}
  <div class="index col-3 ml-5 mb-5">
    <img src="{{product.image}}" width="100%" height="80%" alt="image">
  </div>

  {{!-- 產品資訊 --}}
  <div class="col-5 ml-5">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center; color: gray;">【<a class="categoryName"
          style="text-decoration: none; color: black;"
          href="/Category/{{product.Product_category.id}}">{{product.Product_category.name}}</a>】{{product.name}}</h5>

      <div class="row" style="display:flex; justify-content: center;">
        {{#ifCond product.Comments.length 0}}
        <div class="no-comment mb-2 mr-3" style="color: red;">此商品尚未有人評價</div>
        {{else}}
        <div class="star mr-5">
          <span class="stars d-flex align-items-center">
            <p class="mt-3" style="color: orange;">{{ratingAve}}</p> &nbsp; {{#star ratingAve}}{{/star}}
          </span>
        </div>
        <a class="mr-3" href="#evaluation" style="text-decoration: none; color: black;"> |
          {{product.Comments.length}}
          評價 </a>
        {{/ifCond}}
        <iframe
          src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fyoung-sands-92356.herokuapp.com%2Fproduct%2F{{product.id}}&layout=button&size=large&appId=437649723668901&width=65&height=28"
          width="65" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media">
        </iframe>
      </div>

      <h3 class="price mt-3 mb-5" style="text-align: center; color:#0085a5">$ {{product.price}}</h3>

      <div class="row" style="display:flex; justify-content: center;">
        <p class="mr-5" style="color: gray;">運送</p>
        <img
          src="https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/9d21899f3344277e34d40bfc08f60bc7.png"
          width="35" height="20" class="ml-2 mt-1">
        <p class="ml-1">滿$999，</p>
        <p class="mt-1" style="font-size: 16px; color: #ff5722;">免運費</p>
        <p class="ml-5">&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>

      <div class="row mb-3" style="display:flex; justify-content: center;">
        <p>&nbsp;&nbsp;&nbsp;</p>
        <p class="ml-3 mr-5"><i class="fa fa-truck" aria-hidden="true" style="color:#0085a5"></i> 運費</p>
        <p class="ml-3">$ 60</p>
      </div>

      <form action="/cart" method="POST">
        <div class="row" style="display:flex; justify-content: center;">
          <p class="mr-5 mt-2" style="color: gray;">數量</p>

          <div class="selectQty mr-3">
            <input type="button" value='-' class='qtyMinus' field='quantity'>
            <input type='text' name='quantity' value='1' class='qty'>
            <input type='button' value="+" class='qtyPlus' field='quantity'>
          </div>

          <p class="count mt-2" style="color: gray;">還剩 <span class="Inventory">{{product.count}}</span> 件</p>
        </div>

        <div class="cartBtn" style="display:flex; justify-content: center">
          {{#ifCond product.count 0}}
          <button type="submit" class="btn btn-danger mt-4 mr-2" disabled /><i class="fa fa-truck"
            aria-hidden="true"></i>
          商品補貨中</button>
          <span class="notice btn btn-primary mt-4"><i class="fa fa-envelope" aria-hidden="true"></i> 貨到通知我</span>
          {{else}}
          <input type="hidden" name="productId" value="{{product.id}}">
          <button type="submit" class="btn btn-success mt-4 mr-2"><i class="fas fa-shopping-cart"></i> 加入購物車</button>
          <a href="/cart" class="btn btn-primary mt-4">前往購物車 ></a>
          {{/ifCond}}
        </div>
      </form>

      {{!-- 到貨通知modal --}}
      <div class="modal">
        <div class="modal-content">
          <div style="float: right;">
            <span class="close">&times;</span>
          </div>

          <h5 class="mt-3" style="text-align: center; color: gray;">到貨通知</h5>

          <div class="mt-2" style="text-align: center; color: gray; font-size: 16px;">
            商品名稱：<p style="color: red; font-size: 16px;">
              【{{product.Product_category.name}}】{{product.name}}</p>
          </div>

          <p>---------------------------------------</p>

          <form action="/product/{{product.id}}/deliveryNotice" method="post">
            <div class="form-group row ml-5">
              <label style="color: gray; font-size: 16px;" for=" inputEmail">電子郵件：&nbsp;</label>
              <input style="font-size: 16px;" type="text" name="email" class="form" value="{{loginUser.email}}" required
                autofocus>
            </div>
            <div class="form-group row ml-4">
              <label style="color: gray; font-size: 16px;" for=" inputEmail">確認電子郵件：&nbsp;</label>
              <input style="font-size: 16px;" type="text" name="email_confirm" class="form" value="{{loginUser.email}}"
                required>
            </div>

            <p>---------------------------------------</p>
            <p style="text-align: center; color: red; font-size: 16px;">*此功能僅為貨到通知，無法保留商品喔。</p>

            <div style="text-align: center;">
              <input type="hidden" name="ProductId" value="{{product.id}}" />
              <button class="btn btn-primary">送出</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="ml-5 col-10">

{{!-- 商品規格 --}}
<div class="ml-4 mt-5">
  <h5 class="ml-5">商品規格</h5>
</div>

<div class="row ml-5">
  <p class="ml-5 mr-5 mt-4" style="color: gray;">類別</p>
  <a class="mt-4 ml-5" style="text-decoration: none;"
    href="/Category/{{product.Product_category.id}}">{{product.Product_category.name}}</a>
</div>

<div class="row ml-5">
  <p class="ml-5 mr-5 mt-2" style="color: gray;">庫存</p>
  <p class="mt-2 ml-5">{{product.count}}</p>
</div>

{{!-- 商品詳情 --}}
<div class="ml-4 mt-5">
  <h5 class="ml-5">商品詳情</h5>
</div>

<div class="ml-5 mb-5">
  <p class="ml-5 mr-5 mt-4">{{product.description}}</p>
  <div class="col-5 ml-5 mb-2">
    <img class="ml-5" src="{{product.imageI}}" width="500px" height="500px" alt="image">
  </div>
  <div class="col-5 ml-5 mb-5">
    <img class="ml-5" src="{{product.imageII}}" width="500px" height="500px" alt="image">
  </div>
</div>

<section id="evaluation">
  <hr class="ml-5 col-10">
  <div>&nbsp;</div>
</section>

{{!-- 商品評價 --}}
<div class="ml-4 mt-5">
  <h5 class="ml-5">商品評價</h5>
</div>

<div class="ml-4">
  <div class="card-header mt-3 ml-5 col-10">
    <div class="row ml-5">
      {{#ifCond product.Comments.length 0}}
      <p class="ml-1 mt-4 mr-4" style="color: orange;">0 / 5</p>
      {{else}}
      <p class="ml-1 mt-4 mr-4" style="color: orange;">{{ratingAve}} / 5</p>
      {{/ifCond}}
      <p class="mt-4 ml-1" style="color: gray;">| 共有 {{product.Comments.length}} 則評價</p>
    </div>

    <div class="ml-3 mb-4">
      <span class="stars d-flex align-items-center ml-1">
        {{#star ratingAve}}{{/star}}
      </span>
    </div>
  </div>

  {{#each comment}}
  <div class="list-group-item  list-group-item-action ml-5 mt-2 col-10">
    {{#ifCond this.User.id ../loginUser.id}}
    <form action="/product/{{Product.id}}/rate/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
      <button type="submit" class="btn btn-danger">x</button>
    </form>
    {{/ifCond}}

    <div class="row">
      <div class="col-2 ml-2">
        <img class="avatar" src="{{this.User.image}}">
      </div>

      <div class="col-10">
        <p class="ml-5 mr-5 mt-2" style="font-size: 18px;">{{this.User.name}}</p>

        <div>
          <span class="stars d-flex mb-3 mt-2 ml-5">
            {{#star this.rating}}{{/star}}
          </span>
        </div>
      </div>
    </div>

    <p class="ml-5 mt-4">{{this.comment}}</p>
    <small class="ml-5">{{moment this.createdAt}}</small>
  </div>
  {{/each}}

  {{!-- 分頁 --}}
  <nav aria-label="Page navigation example">
    <ul class="pagination mt-3">
      <li class="page-item">
        <a class="page-link" href="/product/{{product.id}}?page={{prev}}#evaluation" aria-label="Previous"
          style="color: #0085a5;">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      {{#each totalPage}}
      {{#ifCond this ../page}}
      <li class="page-item active"><a class="page-link" href="#"
          style="color:white; background-color: #0085a5">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link" href="/product/{{../product.id}}?page={{this}}#evaluation">{{this}}</a>
      </li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item">
        <a class="page-link" href="/product/{{product.id}}?page={{next}}#evaluation" aria-label="Next">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </nav>

  {{!-- 評價功能 --}}
  {{#each orders}}
  {{#ifCond this.User.id ../loginUser.id}}
  {{#each this.PaymentStatus}}
  {{#ifCond this.paymentStatus '已付款'}}
  <div class="ml-4 mt-5">
    <h5 class="ml-5">留下您的評價：</h5>
  </div>

  <form action="/product/{{../../product.id}}/rate" method="POST">
    <div class="form-group col-10 mt-3 ml-5">
      <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="請在此輸入內容" required></textarea>
    </div>

    <p class="mb-3 ml-4 d-flex align-items-center">
      <span class="text-secondary ml-5">
        商品評分：
      </span>
      <span class="starrating risingstar d-flex justify-content-center flex-row-reverse">
        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5分"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4分"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3分"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2分"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1分"></label>
      </span>
    </p>

    <input type="hidden" name="ProductId" value="{{../../product.id}}" />
    <button type="submit" class="btn btn-primary ml-5 mt-2">送出評價</button>
  </form>
  {{/ifCond}}
  {{/each}}
  {{/ifCond}}
  {{/each}}
</div>

<hr class="ml-5 mt-5 col-10">

{{!-- 相似商品 --}}
<div class="ml-4 mt-5">
  <h5 class="ml-5" style="color: gray;">相似商品</h5>
</div>

<div class="mt-3 ml-5 mb-5 col-10">
  <div class="row">
    {{#each productsFilter}}
    <div class="col-md-2">
      <a href="/product/{{this.id}}" style="text-decoration: none;">
        <div class="card shadow-sm" style="height: 300px;">
          <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="320px" height="150px">
          <div class="card-body">
            <h6 class="card-text">
              <p class="productName" style="font-size: 18px;">
                【{{../product.Product_category.name}}】{{this.name}}
              </p>
            </h6>
            <div class="row">
              <p class="price" style="color:#0085a5">$ {{this.price}}</p>
              <div style="margin: 0 auto">
                <p style="color:gray; font-size: 17px;">還剩{{this.count}}件</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>

<script>

  const qtyMinus = document.querySelector('.qtyMinus')
  const qtyPlus = document.querySelector('.qtyPlus')
  const qty = document.querySelector('.qty')
  const Inventory = document.querySelector('.Inventory')
  const modal = document.querySelector('.modal')
  const btn = document.querySelector('.notice')
  const span = document.querySelector('.close')
  const input = document.querySelector('input');

  let value = Number(Inventory.textContent)


  qtyMinus.addEventListener('click', () => {
    if (qty.value > 1) return qty.value--
    return qty.value = 1
  })

  qtyPlus.addEventListener('click', () => {
    if (qty.value >= value) return qty.value = value
    return qty.value++
  })

  qty.addEventListener('input', () => {
    if (qty.value >= value) return qty.value = value
    else if (qty.value < 0) return qty.value = 1
  })

  // When the user clicks the button, open the modal 
  btn.onclick = () => {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal 
  span.onclick = () => {
    modal.style.display = "none";
  }

</script>