<div class="row ml-5 mt-5">
  <div class="col-2">
    <div class="nav flex-column">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/">首頁</a>
      </div>
      {{#each categories}}
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/Category/{{this.id}}">{{this.name}}</a>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col-8 mb-5">
    <p class="ml-5"><i class="far fa-lightbulb mr-2" style="color:#0085a5"></i>「{{keyword}}」搜尋結果</p>

    {{#ifCond products.length 0}}
    <div class="undefined col-12 mb-5 mt-5" style="text-align: center;">
      <h1><i class="far fa-file-excel" style="color:#0085a5"></i></h1>
      <h5>抱歉，找不到您所查詢的「{{keyword}}」相關商品</h5>
      <div class="help-block mb-5">建議您，檢查輸入字詞是否有誤或使用其他相關的字詞再搜尋</div>
    </div>
    {{else}}
    <div class="row ml-5">
      {{#each products}}
      <div class="col-md-3 mt-2">
        <a href="/product/{{this.id}}" style="text-decoration: none;">
          <div class="card shadow-sm" style="height: 300px;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="320px" height="150px">
            <div class="card-body">
              <h6 class="card-text">
                <p class="productName" style="font-size: 18px;">
                  【{{this.Product_category.name}}】{{this.name}}
                </p>
              </h6>
              <div class="row">
                <p class="price" style="color:#0085a5">$ {{this.price}}</p>
                <div style="margin: 0 auto">
                  <p style="color:gray; font-size: 17px;">還剩{{this.count}}件</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    {{/ifCond}}
  </div>
</div>