<section class="userInfo">
  <h1>個人資料</h1>
  <form action=`='/user/{{user.id}}/profile' method="post">
    <div class="form_group row mt-4">
      <label class="col-2 ">名字:</label>
      <div class="col-10">
        <input type="text" class="form-control" name="name" value="{{user.name}}">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label class="col-2 ">email:</label>
      <div class="col-10">
        <input type="email" class="form-control" name="email" value="{{user.email}}">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label class="col-2 ">地址:</label>
      <div class="col-10">
        <input type="address" class="form-control" name="address" value="{{user.address}}">
      </div>
    </div>

    <div class="form-group d-flex  justify-content-between mt-4">
      <button type="submit" class='btn btn-primary'>編輯個人資料</button>

    </div>
  </form>
</section>
<section class="orderInfo">
  {{#each orderInfo}}
  <div class="card mt-4">
    <div class="card-body">
      <h2>訂單 {{this.id}}</h2>
      <hr>
      <ul class="list-group list-group-flush">
        {{#each this.items}}
        <li class="list-group-item">
          <div class="row">
            <div class="col">{{this.name}}</div>
            <div class="col">{{this.Order_item.quantity}}</div>
            <div class="col">{{this.price}}</div>
          </div>
        </li>
        {{/each}}
        <li class="list-group-item">Total : {{this.amount}}</li>
      </ul>
      <hr>
      <h2>運送資訊</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">名字:{{this.name}}</li>
        <li class="list-group-item">地址{{this.address}}</li>
        <li class="list-group-item">phone:{{this.phone}}</li>
      </ul>
      <hr>
      <h2>出貨狀況</h2>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">付款方式:{{#each this.PaymentType}}{{#if @last}}{{this.paymentType}}{{/if}}{{/each}}
        </li>
        <li class="list-group-item">
          付款狀況:{{#each this.PaymentStatus}}{{#if @last}}{{this.paymentStatus}}{{/if}}{{/each}}</li>
        <li class="list-group-item">出貨方式:{{#each this.ShipmentType}}{{#if @last}}{{this.shipmentType}}{{/if}}{{/each}}
        </li>
        <li class="list-group-item">
          出貨狀況:{{#each this.ShipmentStatus}}{{#if @last}}{{this.shipmentStatus}}{{/if}}{{/each}}</li>
      </ul>
      </ul>

    </div>

    <div class="row d-flex flex-row-reverse">
      <div class="col">
        <form action="/order/{{this.id}}" method="POST">
          <button type='submit' class='btn btn-primary'>取消訂單</button></form>
      </div>
    </div>
    {{ifCond}}
  </div>

</section>