<div class="container">
  <section class="userInfo ">
    <div class="row bg-primary text-white">
      <h1>個人資料</h1>
    </div>

    <div class="row">
      <div class="col mt-5">
        <img src="{{profile.image}}" alt="img" style="width: 250px;margin-bottom: 5px;">
      </div>
      <div class="col">

        <div class="row mt-5">
          <div class="col"><span style='font-size:30px'>名字: {{profile.name}}</span> </div>

        </div>
        <div class="row mt-3">
          <div class="col">
            <span style='font-size:30px'>email: {{profile.email}}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <span style='font-size:30px'>地址: {{profile.address}}</span></div>

        </div>

      </div>
    </div>


    <div class="form-group d-flex  justify-content-between mt-4">
      {{#ifCond loginUser.id profile.id}}
      <a href="/user/{{profile.id}}/editProfile" class="btn btn-primary">編輯個人資料</a>
      {{/ifCond}}
    </div>

  </section>
  <section class="orderInfo mt-5">
    <div class="row bg-primary text-white">
      <h1>你的購物訂單</h1>
    </div>
    <table class="table">
      {{#each orderInfo}}
      <div class="card mt-4">
        <div class="card-body">
          <h2>訂單 {{this.id}}</h2>
          <hr>
          <ul class="list-group list-group-flush">
            {{#each this.items}}
            <li class="list-group-item">
              <div class="row">
                <div class="col">{{this.name}}</div>
                <div class="col">{{this.Order_item.quantity}}</div>
                <div class="col">{{this.price}}</div>
              </div>
            </li>
            {{/each}}
            <li class="list-group-item">Total : {{this.amount}}</li>
          </ul>
          <hr>
          <h2>運送資訊</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">名字: {{this.name}}</li>
            <li class="list-group-item">地址: {{this.address}}</li>
            <li class="list-group-item">phone: {{this.phone}}</li>
          </ul>
          <hr>
          <h2>出貨狀況</h2>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              訂單狀態: {{this.Order_status.orderStatus}}</li>
            <li class="list-group-item">付款方式:
              {{#each this.PaymentType}}{{#if @last}}{{this.paymentType}}{{/if}}{{/each}}
            </li>
            <li class="list-group-item">
              付款狀況: {{#each this.PaymentStatus}}{{#if @last}}{{this.paymentStatus}}{{/if}}{{/each}}</li>
            <li class="list-group-item">
              出貨方式: {{#each this.ShipmentType}}{{#if @last}}{{this.shipmentType}}{{/if}}{{/each}}
              {{#each this.ShipmentConvenienceStore}}{{#if @last}}[{{this.branch}}]{{/if}}{{/each}}
              {{#each this.ShipmentConvenienceStore}}{{#if @last}}- {{this.address}}{{/if}}{{/each}}
            </li>
            <li class="list-group-item">
              出貨狀況: {{#each this.ShipmentStatus}}{{#if @last}}{{this.shipmentStatus}}{{/if}}{{/each}}</li>

          </ul>
          </ul>

        </div>

        <div class="row d-flex flex-row-reverse">
          <div class="col">
            <form action="/order/{{this.id}}" method="POST">
              <button type='submit' class='btn btn-danger'>取消訂單</button></form>
          </div>
        </div>

      </div>
      {{/each}}
  </section>
</div>